<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md"
       data-fuse-bar-position="left">
    <div class="aside-content-wrapper">

        <div class="aside-content bg-primary-700 text-auto">

            <div class="aside-toolbar">

                <div class="logo">
                    <span class="logo-icon">F</span>
                    <span class="logo-text">FUSE</span>
                </div>

                <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block"
                        data-fuse-aside-toggle-fold>
                    <i class="icon icon-backburger"></i>
                </button>

            </div>

            <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

                <li class="subheader">
                    <span>APPS</span>
                </li>

                <li class="nav-item" role="tab" id="heading-dashboards">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-dashboards" href="#" aria-expanded="false"
                       aria-controls="collapse-dashboards">

                        <i class="icon s-4 icon-tile-four"></i>

                        <span>Dashboards</span>
                    </a>
                    <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards"
                        data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/index-2.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Project Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/apps-dashboards-server.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Server</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/apps-calendar.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-calendar-today"></i>

                        <span>Calendar</span>
                    </a>
                </li>

                <li class="nav-item" role="tab" id="heading-ecommerce">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-ecommerce" href="#" aria-expanded="false"
                       aria-controls="collapse-ecommerce">

                        <i class="icon s-4 icon-cart"></i>

                        <span>Ecommerce</span>
                    </a>
                    <ul id="collapse-ecommerce" class='collapse ' role="tabpanel" aria-labelledby="heading-ecommerce"
                        data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/apps-e-commerce-products.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Products</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/apps-e-commerce-product.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Product</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/apps-e-commerce-orders.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Orders</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/apps-mail.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-email"></i>

                        <span>Mail</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/apps-chat.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-hangouts"></i>

                        <span>Chat</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/apps-file-manager.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-folder"></i>

                        <span>File Manager</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/apps-contacts.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-account-box"></i>

                        <span>Contacts</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/apps-todo.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-checkbox-marked"></i>

                        <span>To-Do</span>
                    </a>
                </li>

                <li class="subheader">
                    <span>PAGES</span>
                </li>

                <li class="nav-item" role="tab" id="heading-authentication">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-authentication" href="#" aria-expanded="false"
                       aria-controls="collapse-authentication">

                        <i class="icon s-4 icon-lock"></i>

                        <span>Authentication</span>
                    </a>
                    <ul id="collapse-authentication" class='collapse ' role="tabpanel"
                        aria-labelledby="heading-authentication" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-auth-login.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Login</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-auth-login-v2.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Login v2</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-auth-register.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Register</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-auth-register-v2.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Register v2</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-auth-forgot-password.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Forgot Password</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-auth-reset-password.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Reset Password</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-auth-lock-screen.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Lock Screen</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/pages-coming-soon.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-alarm-check"></i>

                        <span>Coming Soon</span>
                    </a>
                </li>

                <li class="nav-item" role="tab" id="heading-errors">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-errors" href="#" aria-expanded="false" aria-controls="collapse-errors">

                        <i class="icon s-4 icon-alert"></i>

                        <span>Errors</span>
                    </a>
                    <ul id="collapse-errors" class='collapse ' role="tabpanel" aria-labelledby="heading-errors"
                        data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-errors-404.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>404</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/pages-errors-500.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>500</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/pages-maintenance.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-oil"></i>

                        <span>Maintenance</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/pages-profile.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-account"></i>

                        <span>Profile</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/pages-search.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-magnify"></i>

                        <span>Search</span>
                    </a>
                </li>

                <li class="subheader">
                    <span>USER INTERFACE</span>
                </li>

                <li class="nav-item" role="tab" id="heading-elements">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-elements" href="#" aria-expanded="false"
                       aria-controls="collapse-elements">

                        <i class="icon s-4 icon-layers"></i>

                        <span>Elements</span>
                    </a>
                    <ul id="collapse-elements" class='collapse ' role="tabpanel" aria-labelledby="heading-elements"
                        data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-alerts.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Alerts</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-badges.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Badges</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-breadcrumb.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Breadcrumb</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-buttons.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Buttons</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-button-group.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Button Group</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-cards.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Cards</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-dropdowns.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Dropdowns</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-forms.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Forms</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-input-group.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Input Group</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-jumbotron.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Jumbotron</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-list-group.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>List Group</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-navs.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Navs</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-navbar.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Navbar</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-pagination.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Pagination</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-elements-progress.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Progress</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item" role="tab" id="heading-tables">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-tables" href="#" aria-expanded="false" aria-controls="collapse-tables">

                        <i class="icon s-4 icon-table-large"></i>

                        <span>Tables</span>
                    </a>
                    <ul id="collapse-tables" class='collapse ' role="tabpanel" aria-labelledby="heading-tables"
                        data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-tables-simple-table.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Simple Table</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/user-interface-tables-data-table.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Data Table</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item" role="tab" id="heading-page-layouts">

                    <a class="nav-link ripple with-arrow " data-toggle="collapse" data-target="#collapse-page-layouts"
                       href="#" aria-expanded="true" aria-controls="collapse-page-layouts">

                        <i class="icon s-4 icon-view-quilt"></i>

                        <span>Page Layouts</span>
                    </a>
                    <ul id="collapse-page-layouts" class='collapse show' role="tabpanel"
                        aria-labelledby="heading-page-layouts" data-children=".nav-item">

                        <li class="nav-item" role="tab" id="heading-carded">

                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                               data-target="#collapse-carded" href="#" aria-expanded="false"
                               aria-controls="collapse-carded">

                                <span>Carded</span>
                            </a>
                            <ul id="collapse-carded" class='collapse ' role="tabpanel" aria-labelledby="heading-carded"
                                data-children=".nav-item">

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-carded-full-width.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Full Width</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-carded-full-width-2.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Full Width 2</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-carded-left-sidebar.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Left Sidebar</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-carded-left-sidebar-2.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Left Sidebar 2</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-carded-right-sidebar.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Right Sidebar</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-carded-right-sidebar-2.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Right Sidebar 2</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item" role="tab" id="heading-simple">

                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                               data-target="#collapse-simple" href="#" aria-expanded="false"
                               aria-controls="collapse-simple">

                                <span>Simple</span>
                            </a>
                            <ul id="collapse-simple" class='collapse ' role="tabpanel" aria-labelledby="heading-simple"
                                data-children=".nav-item">

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-full-width.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Full Width</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-left-sidebar.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Left Sidebar</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-left-sidebar-2.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Left Sidebar 2</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-left-sidebar-inner.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Left Sidebar Inner</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-left-sidebar-floating.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Left Sidebar Floating</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-right-sidebar.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Right Sidebar</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-right-sidebar-2.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Right Sidebar 2</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-right-sidebar-inner.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Right Sidebar Inner</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-right-sidebar-floating.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Right Sidebar Floating</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ripple "
                                       href="fusetheme/user-interface-page-layouts-simple-tabbed.html"
                                       data-url="user-interface-page-layouts-blank.html">

                                        <span>Tabbed</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple active" href="example-user-interface-page-layouts-blank.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>Blank</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/user-interface-typography.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-format-text"></i>

                        <span>Typography</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/user-interface-icons.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-information"></i>

                        <span>Icons</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/user-interface-colors.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-palette"></i>

                        <span>Colors</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/user-interface-helper-classes.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-help-circle"></i>

                        <span>Helper Classes</span>
                    </a>
                </li>

                <li class="subheader">
                    <span>COMPONENTS</span>
                </li>

                <li class="nav-item" role="tab" id="heading-charts">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-charts" href="#" aria-expanded="false" aria-controls="collapse-charts">

                        <i class="icon s-4 icon-poll"></i>

                        <span>Charts</span>
                    </a>
                    <ul id="collapse-charts" class='collapse ' role="tabpanel" aria-labelledby="heading-charts"
                        data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="fusetheme/components-charts-nvd3.html"
                               data-url="user-interface-page-layouts-blank.html">

                                <span>nvD3</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/components-collapse.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-plus-box"></i>

                        <span>Collapse</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/components-modal.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-window-maximize"></i>

                        <span>Modal</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/components-popovers.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-tooltip-outline"></i>

                        <span>Popovers</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/components-snackbar.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-page-layout-footer"></i>

                        <span>Snackbar</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="fusetheme/components-tooltips.html"
                       data-url="user-interface-page-layouts-blank.html">

                        <i class="icon s-4 icon-tooltip"></i>

                        <span>Tooltips</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</aside>
